In [38]:
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import json
import requests

# CPI Scraper
Utilizes Beautiful Soup to extract Consumer Price Index data table from a webpage

---

In [39]:
'''
Scrape CPI data from https://www.usinflationcalculator.com/inflation/consumer-price-index-and-annual-percent-changes-from-1913-to-2008/
'''
url = 'https://www.usinflationcalculator.com/inflation/consumer-price-index-and-annual-percent-changes-from-1913-to-2008/'
website_url = requests.get(url).text

soup = BeautifulSoup(website_url,'lxml')

In [56]:
# construct dataframe out of data
cpi_df = pd.DataFrame()

col_headers = []
row=0
for tr in soup.find_all('tr'):
    if row != 0: # skip first row of table
        col = 0
        for td in tr.find_all('td'):
            if row == 1:
                col_headers.append(td.text)
                cpi_df[td.text] = np.nan # construct column headers
            else: 
                cpi_df.loc[row,col_headers[col]] = td.text
            col+=1
    row+=1

In [57]:
# restructure dataframe    
cpi_df.drop(['Avg', 'Dec-Dec', 'Avg-Avg'], axis=1, inplace=True)
cpi_df.set_index('Year')
cpi_df.head(5)

,Year,Jan,Feb,Mar,Apr,May,June,July,Aug,Sep,Oct,Nov,Dec
2,1913,9.8,9.8,9.8,9.8,9.7,9.8,9.9,9.9,10.0,10.0,10.1,10.0
3,1914,10.0,9.9,9.9,9.8,9.9,9.9,10.0,10.2,10.2,10.1,10.2,10.1
4,1915,10.1,10.0,9.9,10.0,10.1,10.1,10.1,10.1,10.1,10.2,10.3,10.3
5,1916,10.4,10.4,10.5,10.6,10.7,10.8,10.8,10.9,11.1,11.3,11.5,11.6
6,1917,11.7,12.0,12.0,12.6,12.8,13.0,12.8,13.0,13.3,13.5,13.5,13.7

In [59]:
cpi_df.to_csv('cpi_df.csv', index=False)